.services_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}
.services{
    text-align: center;
    border: 1px solid var(--color-primary);
    padding: 1rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background: var(--color-primary-variant);
    height: fit-content;
    width: fit-content;
    transition: var(--trasition);
}
.services:hover{
    background: transparent;
    color: var(--color-primary-variant);
    cursor: default;
}
.services_head{
    background: var(--color-primary);
    padding: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 0 2rem 1rem rgba(0,0,0,0.1);
}
.services_head h3{
    color: var(--color-bg);
    font-size: 1rem;
    text-align: center;
}

.services_list{
    padding: .3rem;
}

.services_list li{
    display: flex;
    gap: .3rem;
    margin-bottom: 0.8rem;
}
.services_list-icon{
    margin-top: 6px;
    color: var(--color-primary);
}

.services_list pi{
    font-size: .9rem;
}

@media screen and (max-width: 1024px){
    .services_container{
        
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }
    .services{
        height: auto;
    }
}
@media screen and (max-width: 600px){
    .services_container{
        
        grid-template-columns: 1fr;
        gap: 1.5rem;
       
    }
 
}